<div class="container my-5">    
    {{#if product}}
        <div class="row">
            <div class="col-12">
                <a href="/products" class="btn btn-info text-white">Volver</a>
            </div>
            <div class="col-lg-4 col-md-6 mb-3">
                <div id="product{{product.code}}" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        {{#each product.thumbnails}}
                        <div class="carousel-item {{#if @first }}active {{/if}}">
                            <img src="{{product}}" class="d-block w-100" alt="">
                        </div>
                        {{/each}}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#product{{product.code}}" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Anterior</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#product{{product.code}}" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Siguiente</span>
                    </button>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 px-4">
                <h5 class="text-center mb-3">{{product.title}}</h5>
                <p class="card-text">{{product.description}}</p>
                <p class="text-end m-0"><i>${{product.price}}</i></p>
                <a href="" class="btn btn-success">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart-plus-fill" viewBox="0 0 16 16">
                        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"/>
                    </svg>
                </a>
            </div>
        </div>
    {{else}}
        <h3>Error</h3>
    {{/if}}
</div>
